@()

@main("Foydalanuvchilarni ro'yhatga olish") {
    @navbar("addMembers")
    <div class="container main-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="text-center"><strong>Рўйҳатдан ўтиш</strong></h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <form class="@routes.Members.addMembers()" method="post">
                        <div class="form-group">
                            <label for="inp-name" class="color-black"></label>
                            <input type="text" class="form-control" id="inp-name"
                            name="name" required="" placeholder="Исми">
                        </div>
                        <div class="form-group">
                            <label for="inp-surname" class="color-black"></label>
                            <input type="text" class="form-control" id="inp-surname"
                            name="surname" required="" placeholder="Фамилияси">
                        </div>
                        <div class="form-group">
                            <label for="inp-secondname" class="color-black"></label>
                            <input type="text" class="form-control" id="inp-secondname"
                            placeholder="Отасининг исми" required="" name="secondname">
                        </div>
                        <div class="form-group">
                            <label for="inp-adress" class="color-black"></label>
                            <input type="text" class="form-control" id="inp-adress"
                            name="adress" required="" placeholder="Яшаш манзили">
                        </div>
                        <div class="form-group">
                            <label for="inp-login" class="color-black"></label>
                            <input type="text" class="form-control" id="inp-login"
                            name="login" required="" placeholder="Фойдаланувчи логини">
                        </div>
                        <div class="form-group">
                            <label for="inp-pass" class="color-black"></label>
                            <input type="password" class="form-control" id="inp-pass"
                            name="pass" required="" placeholder="Фойдаланувчи пароли">
                        </div>
                        <div class="form-group">
                            <label for="inp-confPass" class="color-black"></label>
                            <input type="password" class="form-control" id="inp-confPass"
                            name="confPass" required="" placeholder="Паролни қайта киритинг">
                        </div>
                        <br>
                        <div class="text-center">
                        <button type="reset" class="btn btn-default ">Бекор қилиш</button>
                        <button type="submit" class="btn btn-info">Сақлаш</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
            <br/>
        </div>
    </div>

}
