@(message: String)

@main("Qovunlar mamlakati") {
    @navbar("home")
    <body class="main-bg indColor">
        <div class="row-fluid">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                                <div class="container"><img src="@routes.Assets.at("images/111.png")" class="img-responsive"></div>
                        </div>
                        <div class="item">
                                <div class="container"><img src="@routes.Assets.at("images/222.png")" class="img-responsive"></div>
                        </div>
                        <div class="item">
                                <div class="container"><img src="@routes.Assets.at("images/333.png")" class="img-responsive"></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>

        <div class="container">
            <h1 class="text-info text-uppercase">Shirin qovunlar mamlakatiga xush kelibsiz!</h1>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="h4"><b>Amiri</b></p></div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <img class="img-responsive" src="@routes.Assets.at("images/amiri.png")"/>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <p>
                                        <b>Амири.</b> Один из самых популярных сортов у местных.
                                        Рассыпчатая мякоть зеленоватого цвета и сладкий чуть
                                        терпкий вкус. Названа в честь великого завоевателя
                                        Амира Тимура (Тамерлана).
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="h4"><b>Chelyaki</b></p></div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <img class="img-responsive" src="@routes.Assets.at("images/chelyaki.png")"/>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <p>
                                        Челяки. В переводе – коробочка. Крупные дыни,несколько напоминающие «торпеды», но более
                                        округлой формы. Похожи и на вкус. Наверное, очень
                                        близкие родственники. Челяки
                                        продаются под общим брендом «узбекская дыня
                                        торпеда».
                                    </p>
                                </div>
                            </div>
                         </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Qizil qovun</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img  class="img-responsive" src="@routes.Assets.at("images/qizil_qovun.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Гизил Говун.</b> В народе называется «Красномяска» (так
                                                в принципе и переводится). Внутренность имеет
                                                характерный оранжевый цвет. На вкус оригинально
                                                приятна (а как может быть иначе?) и имеет много
                                                поклонников среди местного населения.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Basvaldi</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img class="img-responsive" src="@routes.Assets.at("images/basvaldi.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Басвальди.</b> Относительно редкий сорт дынь с
                                                зеленоватой мякотью внутри. Очень похожа на Амири.
                                                Имеет оригинальный вкус, что-то типа травяной сбор
                                                +мед. Я был приятно удивлен такому интересному
                                                сочетанию. Басвальди – одно из главных моих
                                                вкусовых открытий за последние годы.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Kukcha</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img class="img-responsive" src="@routes.Assets.at("images/kukcha.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Кукча.</b> Один из самых распространенных сортов
                                                узбекских дынь. На меня не произвел особого
                                                впечатления на фоне других разновидностей. Твердая
                                                мякоть, сладкий, но не насыщенный вкус.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Jura kovun</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img class="img-responsive" src="@routes.Assets.at("images/jura_kovun.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Жура Говун.</b> Очень интересный и, видимо, редкий
                                                сорт. Пробовал всего один раз и сколько потом искал,
                                                не смог найти. Оригинальный вкус, очень сладкий и
                                                насыщенный.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Obi navod</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img class="img-responsive" src="@routes.Assets.at("images/obi_navod.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Оби Навват.</b> Круглые почти правильной формы дыни
                                                ярко желтой окраски. Сорт популярен, благодаря
                                                своему яркому насыщенному вкусу. Название
                                                переводится как «Сладкий нектар». Действительно
                                                одна из самых сладких и потому распространенных
                                                узбекских дынь.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Kondolyaki</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img  class="img-responsive" src="@routes.Assets.at("images/kondolyaki.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Кандаляки.</b> Маленькие дыньки, которые поспевают
                                                уже в июне (или даже в мае). Бывают очень сладкими,
                                                сахарными. У меня сложилось мнение, что узбеки
                                                любые маленькие дыни называют кандаляшками
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4><b>Torpeda</b></h4></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-5 col-xs-12">
                                            <img class="img-responsive" src="@routes.Assets.at("images/torpeda.png")"/>
                                        </div>
                                        <div class="col-sm-7 col-xs-12">
                                            <p>
                                                <b>Торпеда</b> (другое название — Мирзачульская).
                                                Позднеспелый сорт, сезон которого приходится на
                                                август-сентябрь. Наверное, самые любимые мною
                                                дыни – большие, сладкие но не приторные,
                                                освежающие и насыщающие. Идеальный фрукт для
                                                меня.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="h_1"><b>Yangiliklar</b></p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <img class="img-responsive" src="@routes.Assets.at("images/fruits1.jpg")"/>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                                    <ul class="list-inline">
                                        <li><a href="#">8 comments </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <img class="img-responsive" src="@routes.Assets.at("images/fruits1.jpg")"/>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                                    <ul class="list-inline">
                                        <li><a href="#">8 comments </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="h_1"><b>Boshqa saytlar</b></p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <img class="img-responsive" src="@routes.Assets.at("images/fruits1.jpg")"/>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <h5><b>Lorem ipsum dolor sit amet.</b></h5>
                                    <ul class="list-inline">
                                        <li><a href="#">8 comments </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        @footer("home")
    }
