@(members: List[MembersDB])

@main("Ishtroqchilar ro'yhati") {
    @navbarAdmin("membersListAdmin")

    <div class="container main-content">

        <h1 class="text-center">Ishtroqchilar ro'yhati</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ismi</th>
                    <th>Familiyasi</th>
                    <th>Otasining ismi</th>
                    <th>Yashash manzili</th>
                    <th>To'plagan bali</th>
                    <th>O'chirish/O'zgartirish</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- members) {
                <tr>
                    <td>@i.name</td>
                    <td>@i.surname</td>
                    <td>@i.secondname</td>
                    <td>@i.adress</td>
                    <td><b> - </b></td>
                    <td>
                        <a href="@routes.Members.remove(i.id.get)">
                            <button class="btn btn-danger btn-xs">O'chirish</button>
                        </a>
                        <a href="@routes.Members.editFormMembersList(i.id.get)">
                            <button class="btn btn-warning btn-xs">O'zgartirish</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
