@(members: List[MembersDB])
    @main("Ishtroqchilar ro'yhati") {
        @navbar("membersList")

        <div class="container main-content">

            <h1 class="text-center">Иштирокчилар рўйҳати</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Исми</th>
                        <th>Фамилияси</th>
                        <th>Манзили</th>
                        <th>Амалий бали</th>
                        <th>Тестда тўплаган бали</th>
                        <th>Умумий бали</th>
                    </tr>
                </thead>
                <tbody>
                @for(i <- members) {
                    <tr>
                        <td>@i.name</td>
                        <td>@i.surname</td>
                        <td>@i.secondname</td>
                        <td>@i.adress</td>
                        <td> - </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>

    }
