@(testQuestion: List[QuestionData])

@main("Savollar ro'yhati") {
    @navbarAdmin("questionListAdmin")

    <div class="container">
        <h1 class="text-center">Savollar Ro'yhati</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Savol</th>
                    <th>O'chirish/O'zgartirish</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- testQuestion) {
                <tr>
                    <td>@i.question</td>
                    <td>@i.aVariant</td>
                    <td>@i.bVariant</td>
                    <td>@i.cVariant</td>
                    <td>@i.dVariant</td>
                    <td>
                        <a href="@routes.Questions.remove(i.id.get)">
                            <button class="btn btn-danger btn-xs">O'chirish</button>
                        </a>
                        <a href="@routes.Questions.editQuestionsForm(i.id.get)">
                            <button class="btn btn-warning btn-xs">O'zgartirish</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}